 /* 모바일 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
    .sub_1_con1{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
    }
    .sub_1_button{
        font-size: 10px;
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 10px;
        transform: translate(0, -120%);
        color: #858585;
    }

    .sub6_con1{
        width: 90%;
        height: 716px;
        margin-top: 135px;
    }
    .sub6_con2{
        width: 90%;
        height: 78px;
        margin: 0 auto;
        margin-top: 63px;
    }
    .sub6_con3{
        width: 90%;
        height: 78px;
        margin: 0 auto;
        margin-top: 18px;
    }
    .sub6_con2_1{
        width: 100%;
        height: 47px;
        background-color: #ECECEC;
        color: #C9C9C9;
        line-height: 47px;
        margin-top: 7px;
    }
    .sub6_con5{
        width: 90%;
        height: 50px;
        background-color: #019845;
        font-size: 20px;
        font-weight: 700;
        line-height: 51px;
        margin: 0 auto;
        margin-top: 60px;
        text-align: center;
    }
    .sub6_con4{
        width: 90%;
        height: 25px;
        margin: 0 auto;
        margin-top: 26px;
        display: flex;
    }
    .sub6_con6{
        width: 84%;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
    }
    .sub6_text2{
        font-size: 14px;
    }
    .sub6_con1{
        margin-top: 84px;
    }
}