.subwrap_1{
    width: 100%;
    height: 50vh;
    background-color: #FF760D;
    text-align: center;
}
.sub_1_text1{
    font-size: 71px;
    font-weight: 700;
    transform: translate(0, 170px);
    color: #fff;
    transition: 0.5s;
}
.sub_1_text2{
    font-size: 16px;
    font-weight: 500;
    transform: translate(0, 180px);
    color: #fff;
    transition: 0.5s;
}
.sub_1_con1{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: auto;
    transition: 0.5s;
}
.sub_1_button{
    font-size: 18px;
    font-weight: 700;
    margin-top: 29px;
    color: #858585;
}
.sub_1_con2{
    text-align: center;
    margin-top: 83px;
}
.sub_1_title{
    font-size: 26px;
    font-weight: 500;
    color: #009947;
}
.sub_1_con3{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 310px 310px 310px 310px 310px;
    grid-template-rows: 310px 310px;
    justify-content: space-between;
    row-gap: 40px;
    margin: 0 auto;
    margin-top: 30px;
    transition: 0.5s;
}
.sub_1_con3_1{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 310px 310px 310px 310px 310px;
    grid-template-rows: 310px;
    justify-content: space-between;
    row-gap: 40px;
    margin: 0 auto;
    margin-top: 30px;
    transition: 0.5s;
}
.sub_1_con3_1_1{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 310px 310px 310px 310px 310px;
    grid-template-rows: 310px 310px;
    justify-content: space-between;
    row-gap: 40px;
    margin: 0 auto;
    margin-top: 30px;
    transition: 0.5s;
}

.sub_1_item{
    width: 310px;
    height: 310px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 13px;
    box-shadow: 0px 1px 6px #00000029;
}
.item_1{
    margin-top: 48px;
}
.itemtext_1{
    font-size: 20px;
    font-weight: 700;
    margin-top: 19px;
}
.itemtext_1_1{
    font-size: 14px;
    font-weight: 400;
    margin-top: 6px;
}
.itemtext_1_2{
    font-size: 16px;
    font-weight: 700;
    color: #FFCA08;
    margin-top: 19px;
}
.cover_1{
    width: 310px;
    height: 310px;
    transform: translate(0, -310px);
    border-radius: 13px;
    opacity: 0;
    transition: 0.3s;
}
.sub_1_item:hover ~ .cover_1{
    opacity: 1;
}
.cover_1:hover{
    opacity: 1;
}
.covertext_1{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-top: 52px;
    transform: translate(0, -300px);
}
.covertext_2{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transform: translate(0, -300px);
}
.covertext_3{
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    margin-top: 25px;
    transform: translate(0, -300px);
}
.sub_1_con3_2{
    display: none;
}