@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/**-- 전 항목 공통 */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
.wrap{
    position: relative;
    width: 100%;
    height: 100%;
}
body{ margin: 0;}

/*-- 공통 텍스트 정리 --*/
h1{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin-top: 17px;
}
h2{
    margin-top: 100px;
}
p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.comment{
    font-size: 12px;
    font-weight: 400;
    color: #919191;
    margin-top: 10px;
}

/*-- 공통 레이아웃 --*/
section{
    width: 80%;
    height: auto;
    text-align: center;
    margin: auto;
}
.work_button_fit{
    display: block;
    width: 100px;
    margin: auto;
    color: #232323;
}

/*-- 메뉴바 --*/
header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}
nav{
    width: 80%; height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    width: 30%; height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
span{
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
span:hover{
    border-bottom: 2px solid white;
    cursor: pointer;
}
.menu_button{
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.menu_button:hover{
    border-bottom: 2px solid white;
    cursor: pointer;
}

/*-- 푸터 --*/
footer{
    width: 100%;
    height: 100px;
    background-color: #e9e9e9;
    text-align: center;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
.footer_box{
    color: #919191;
    margin-top: 25px;
}

/*-- 컨텐츠 --*/
.content{
    width: 100%;
    height: auto;
    z-index: 2;
    text-align: center;
}

.contanier1{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/bg_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.text_ani{
    display: flex;
}
.text{
    font-size: 80px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    color: black;
}
.blink{
    animation: blink 0.9s infinite;
    font-size: 80px;
    color: black;
}
@keyframes blink{
    to {
      opacity: 0;
    }
}
h3{
    font-size: 23px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #232323;
    position: absolute;
    top: 90%;
    animation-name: lotate;
    animation-duration : 1.6s;
    animation-iteration-count : infinite;
}
.polygon{
    position: absolute;
    top: 95%;
    animation-name: lotate;
    animation-duration : 1.6s;
    animation-iteration-count : infinite;
}
@keyframes lotate {
	0% {
		transform: translate(0);
	}
    50%{
        transform: translate(0, 10px);
    }
	100% {
		transform: translate(0);
	}
}

.img_and_text{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    grid-column-gap: 60px;
    margin-top: 20px;
}
.proimg{
    display: flex;
    justify-content: right;
}
.com_1{
    width: 23px;
    height: 32px;
    object-fit: scale-down;
    margin-right: 18px;
}
.com_2{
    width: 23px;
    height: 32px;
    object-fit: scale-down;
}
.protext{
    display: flex;
    justify-content: left;
    text-align: left;
}

.conbox2_3{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.skill_1{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 20px;
}
.skimg_1{
    margin: auto;
}
.sktext{
    font-family: 'Noto San KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
}
.skill_bar{
    width: 309px;
    height: 12px;
    background-color: #D9D9D9;
    border-radius: 30px;
    margin: auto;
    margin-top: 5px;
    overflow: hidden;
}
.skill_bar_1{width: 298px; height: 12px; background-color: #F6BB21;}
.skill_bar_2{width: 274px; height: 12px; background-color: #F6BB21;}
.skill_bar_3{width: 302px; height: 12px; background-color: #F6BB21;}
.skill_bar_4{width: 267px; height: 12px; background-color: #F6BB21;}
.skill_bar_5{width: 271px; height: 12px; background-color: #F6BB21;}
.skill_bar_6{width: 230px; height: 12px; background-color: #F6BB21;}
.skill_bar_7{width: 205px; height: 12px; background-color: #F6BB21;}
.skill_bar_8{width: 212px; height: 12px; background-color: #F6BB21;}
.skill_bar_9{width: 292px; height: 12px; background-color: #21B6F6;}
.skill_bar_10{width: 274px; height: 12px; background-color: #21B6F6;}
.skill_bar_11{width: 231px; height: 12px; background-color: #21B6F6;}
.skill_bar_12{width: 276px; height: 12px; background-color: #21B6F6;}



.text_work_text{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 27px;
    margin-top: 40px;
}
.worktext_1{
    font-family: 'Noto San KR', sans-serif;
    font-size: 80px;
    font-weight: 700;
    opacity: 30%;
    text-align: right;
    line-height: 0.7;
    transition: 0.5s;
}
.work_1{
    width: 706px;
    height: 397px;
    overflow: hidden;
    border: solid 3px #5e5e5e;
    transition: 0.5s;
}
.worktext_2{
    width: 162px;
    text-align: left;
}



.work_slide_3{
    width: 101%;
    height: auto;
    animation-name: autoscroll_5;
    animation-duration : 20s;
    animation-iteration-count : infinite;
}
@keyframes autoscroll_5 {
	0% {
		transform: translate(0);
	}
	50% {
		transform: translate(0%, -58.5%);
	}
    100% {
		transform: translate(0);
	}
}
.work_slide_4{
    width: 101%;
    height: auto;
    animation-name: autoscroll_6;
    animation-duration : 33s;
    animation-iteration-count : infinite;
}
@keyframes autoscroll_6 {
	0% {
		transform: translate(0);
	}
	50% {
		transform: translate(0%, -83.5%);
	}
    100% {
		transform: translate(0);
	}
}




.work_slide_1{
    width: 101%;
    height: auto;
    animation-name: autoscroll_1;
    animation-duration : 50s;
    animation-iteration-count : infinite;
}
@keyframes autoscroll_1 {
	0% {
		transform: translate(0);
	}
	50% {
		transform: translate(0%, -83.9%);
	}
    100% {
		transform: translate(0);
	}
}
.work_button{
    width: 100px;
    height: 30px;
    border: solid 2px #232323;
    border-radius: 4px;
    font-family: 'Noto San KR', sans-serif;
    font-size: 16px;
    font-weight: 700;
    background-color: white;
    line-height: 27px;
    margin: auto;
    margin-top: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 0.5s;
    cursor: pointer;
}
.work_button>a{
    color: #232323;
}
.work_button:hover{
    background-color: #949494;
    transition: 0.5s;
}
.work_slide_2{
    width: 101%;
    height: auto;
    animation-name: autoscroll_2;
    animation-duration : 37s;
    animation-iteration-count : infinite;
}
@keyframes autoscroll_2 {
	0% {
		transform: translate(0);
	}
	50% {
		transform: translate(0%, -80.7%);
	}
    100% {
		transform: translate(0);
	}
}
.work_2{
    width: 706px;
    height: auto;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
}
.work_3{
    width: 306px;
    height: 623px;
}
.work_3_slide{
    width: 306px;
    height: 623px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.work_3_img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.work_3_slideimg{
    width: 100%;
    height: auto;
    animation-name: autoscroll_3;
    animation-duration : 15s;
    animation-iteration-count : infinite;
}
@keyframes autoscroll_3 {
	0% {
		transform: translate(0);
	}
	50% {
		transform: translate(0%, -31.7%);
	}
    100% {
		transform: translate(0);
	}
}
.work_4_slide{
    width: 287px;
    height: 623px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 0.5s;
}
.work_4_slideimg{
    width: 302%;
    height: auto;
    animation-name: autoscroll_4;
    animation-duration : 15s;
    animation-iteration-count : infinite;
}
@keyframes autoscroll_4 {
	0% {
		transform: translate(0);
	}
    20% {
		transform: translate(0);
	}
	25% {
		transform: translate(-33.3%);
	}
    45% {
		transform: translate(-33.3%);
	}
    50% {
		transform: translate(-66.6%);
	}
    70% {
		transform: translate(-66.6%);
	}
    75% {
		transform: translate(-33.3%);
	}
    95% {
		transform: translate(-33.3%);
	}
    100% {
		transform: translate(0);
	}
}
.work_5_text{
    width: 100%;
    height: auto;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 33px;
    font-weight: 700;
    opacity: 30%;
    text-align: center;
    margin-top: 160px;
}
.work_5_grid{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: space-between;
    grid-row-gap: 60px;
    margin-top: 45px;
}
.work_5_box{
    display: flex;
    position: relative;
}
.work_5_img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.work_5_cover{
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    transition: 0.3s;
}
.work_5_cover:hover{
    opacity: 0%;
    transition: 0.3s;
}




/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/ 
@media all and (min-width:1024px) and (max-width:1388px) { 
    .menu{
        width: 40%;
        transition: 0.5s;
    }
    .work_1{
        width: 625px;
        height: 352px;
        transition: 0.5s;
    }
    .worktext_1{
        font-size: 30px;
        transition: 0.5s;
    }
    .work_2{
        width: 625px;
        transition: 0.5s;
    }
    .work_3{
        width: 270px;
        height: 550px;
        transition: 0.5s;
    }
    .work_3_slide{
        width: 270px;
        height: 550px;
        transition: 0.5s;
    }
    .work_4_slide{
        width: 254px;
        height: 550px;
        transition: 0.5s;
    }
    .work_5_grid{
        grid-template-columns: 30% 30% 30%;
        transition: 0.5s;
        grid-row-gap: 48px;
    }
  } 
  
  /* 테블릿 가로 (해상도 768px ~ 1023px)*/ 
  @media all and (min-width:768px) and (max-width:1023px) { 
    .menu{
        width: 50%;
        transition: 0.5s;
    }
    .com_1{display: none;}.com_2{display: none;}
    .img_and_text{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .proimg{
        justify-content: center;
    }
    .protext{
        width: 326px;
        justify-content: left;
        margin-top: 20px;
    }
    p{
        font-size: 14px;
    }
    .work_1{
        width: 625px;
        height: 352px;
        transition: 0.5s;
        margin-top: 10px;
    }
    .worktext_1{
        font-size: 30px;
        text-align: center;
        transition: 0.5s;
    }
    .worktext_2{
        width: 162px;
        text-align: center;
        margin-top: 20px;
    }
    .text_work_text{
        grid-template-columns: 1fr;
        grid-template-rows: 32px 1fr 113px;
        grid-column-gap: 27px;
        justify-items: center;
    }
    .work_2{
        width: 625px;
        transition: 0.5s;
    }
    .work_3{
        width: 270px;
        height: 550px;
        transition: 0.5s;
    }
    .work_3_slide{
        width: 270px;
        height: 550px;
        transition: 0.5s;
    }
    .work_4_slide{
        width: 254px;
        height: 550px;
        transition: 0.5s;
    }
    .work_5_grid{
        grid-template-columns: 30% 30% 30%;
        grid-row-gap: 48px;
        transition: 0.5s;
    }
  } 
  
  /* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/ 
  @media all and (min-width:480px) and (max-width:767px) {
    section{
        width: 90%;
        height: auto;
        text-align: center;
        margin: auto;
    }
    .menu{
        width: 70%;
        transition: 0.5s;
    }
    span{
        font-size: 12px;
    }
    a{
        font-size: 12px;
    }
    .menu_button{
        font-size: 12px;
    }
    .com_1{display: none;}.com_2{display: none;}
    .img_and_text{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .proimg{
        justify-content: center;
    }
    .protext{
        width: 326px;
        justify-content: left;
        margin-top: 20px;
    }
    p{
        font-size: 14px;
    }
    .conbox2_3{
        display: grid;
        grid-template-columns: 1fr;
    }
    .skill_1{
        margin-top: 10px;
    }
    .work_1{
        width: 437px;
        height: 246px;
        transition: 0.5s;
        margin-top: 10px;
    }
    .worktext_1{
        font-size: 30px;
        text-align: center;
        transition: 0.5s;
    }
    .worktext_2{
        width: 162px;
        text-align: center;
        margin-top: 20px;
    }
    .text_work_text{
        grid-template-columns: 1fr;
        grid-template-rows: 32px 1fr 113px;
        justify-items: center;
    }
    .work_2{
        width: 437px;
        transition: 0.5s;
    }
    .work_3{
        width: 189px;
        height: 384px;
        transition: 0.5s;
    }
    .work_3_slide{
        width: 189px;
        height: 384px;
        transition: 0.5s;
    }
    .work_4_slide{
        width: 177px;
        height: 384px;
        transition: 0.5s;
    }
    .work_5_grid{
        grid-template-columns: 45% 45%;
        transition: 0.5s;
        grid-row-gap: 40px;
    }
    .work_5_text{
        font-size: 25px;
    }
  } 
  
  /* 모바일 세로 (해상도 ~ 479px)*/ 
  @media all and (max-width:479px) {
    section{
        width: 90%;
        height: auto;
        text-align: center;
        margin: auto;
    }
    .menu{
        width: 70%;
        transition: 0.5s;
    }
    span{
        font-size: 12px;
    }
    a{
        font-size: 12px;
    }
    .menu_button{
        font-size: 12px;
    }
    .text{
        font-size: 40px;
    }
    .blink{
        font-size: 40px;
    }
    nav{
        width: 90%;
        transition: 0.5s;
    }
    h1{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 20px;
        font-weight: 300;
        margin-top: 17px;
    }
    .com_1{display: none;}.com_2{display: none;}
    .img_and_text{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .proimg{
        justify-content: center;
    }
    .protext{
        width: 290px;
        justify-content: left;
        margin-top: 20px;
    }
    p{
        font-size: 12px;
    }
    .profile{
        width: 290px;
    }
    .conbox2_3{
        display: grid;
        grid-template-columns: 1fr;
    }
    .skill_1{
        margin-top: 10px;
    }
    .work_1{
        width: 312px;
        height: 175px;
        transition: 0.5s;
        margin-top: 10px;
    }
    .worktext_1{
        font-size: 30px;
        text-align: center;
        transition: 0.5s;
    }
    .worktext_2{
        width: 162px;
        text-align: center;
        margin-top: 20px;
    }
    .text_work_text{
        grid-template-columns: 1fr;
        grid-template-rows: 32px 1fr 113px;
        justify-items: center;
    }
    .work_2{
        width: 312px;
        transition: 0.5s;
    }
    .work_3{
        width: 135px;
        height: 274px;
        transition: 0.5s;
    }
    .work_3_slide{
        width: 135px;
        height: 274px;
        transition: 0.5s;
    }
    .work_4_slide{
        width: 127px;
        height: 274px;
        transition: 0.5s;
    }
    .work_5_grid{
        grid-template-columns: 80%;
        transition: 0.5s;
        grid-row-gap: 25px;
        justify-content: center;
    }
    .work_5_text{
        font-size: 20px;
    }
  }