/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1400px)*/ 
@media all and (min-width:1024px) and (max-width:1400px) { 
    .sub_1_con1{
        width: 60%;
        height: auto;
        display: flex;
        justify-content: space-between;
    }
    .sub_1_button{
        font-size: 16px;
        font-weight: 700;
        margin-top: 42px;
        margin-bottom: 30px;
        color: #858585;
    }

}