 /* 모바일 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
    .sub_1_con1{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
    }
    .sub_1_button{
        font-size: 10px;
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 10px;
        transform: translate(0, -120%);
        color: #858585;
    }
    .subcon_2_1{
        width: 100%;
        height: 2088px;
        margin: 0 auto;
        display: flex;
    }
    .subcon_2_3{
        display: none;
    }
}