body{
    white-space:nowrap;
}
footer{
    margin-top: 0;
}
.sub_1_con1{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 100px;
    transition: 0.5s;
}
.sub_1_button{
    font-size: 18px;
    font-weight: 700;
    margin-top: 29px;
    color: #858585;
    margin-bottom: 45px;
}

.sub4_title{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sub4_title1{
    font-size: 36px;
    font-weight: 900;
    color: #62CE08;
}
.sub4_title2{
    font-size: 36px;
    font-weight: 900;
    color: #009947;
}
.sub4_title3{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.sub4_wrap{
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: 600px 600px;
    justify-content: space-between;
    column-gap: 15px;
    margin: 0 auto;
    margin-top: 57px;
}
.sub4_wrap1{
    width: 100%;
    height: 525px;
    background-color: #F2F2F2;
    transition: 0.5s;
}
.sub4_wrap2{
    display: none;
}
.sub4_img1{
    width: 600px;
    height: auto;
    object-fit: contain;
    transition: 0.5s;
}
.sub4_text1{
    width: 600px;
    height: auto;
    height: auto;
}
.sub4_text2{
    display: flex;
}
.sub4_text3{
    font-size: 28px;
    font-weight: 700;
    margin-left: 14px;
    line-height: 32px;
}
.sub4_text4{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 18px;
    white-space:nowrap;
}
.sub4_text5{
    font-size: 66px;
    font-weight: 900;
    color: #F2F2F2;
    transform: translate(0, 100%);
    transition: 0.5s;
}
.sub4_text6{
    font-size: 66px;
    font-weight: 900;
    color: #fff;
    transform: translate(0, 100%);
    transition: 0.5s;
}
.sub4_number{
    width: 36px;
    height: 36px;
    background-color: #009947;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sub4_line{
    width: 21px;
    height: 2px;
    background-color: #FFCA08;
    margin: 0 auto;
    margin-top: 7px;
}
.sub4_number{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}
footer{
    white-space : normal
}