footer{
    margin-top: 0;
}
.sub_1_con1{
    width: 40%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 100px;
    transition: 0.5s;
}
.sub_1_button{
    font-size: 18px;
    font-weight: 700;
    margin-top: 29px;
    color: #858585;
    margin-bottom: 45px;
}
.sub3_bg{
    width: 100%;
    background-color: #F2F2F2;
}
.sub3_button{
    width: 726px;
    height: 48px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 242px 242px 242px;
    text-align: center;
    line-height: 47px;
    transform: translate(0, 40px);
    font-size: 20px;
}
.sub3_button1{
    font-weight: 700;
    background-color: #009947;
    color: #FFF;
    border-radius: 24px 0 0 24px;
}
.sub3_button2{
    font-weight: 700;
    background-color: #FFF;
    color: #858585;
}
.sub3_button3{
    font-weight: 700;
    background-color: #FFF;
    color: #858585;
    border-radius: 0 24px 24px 0;
}
.sub3_con{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 399px 399px 399px;
    grid-template-rows: 273px 273px;
    margin-top: 80px;
    row-gap: 67px;
}
.sub3_img1{
    object-fit: none;
    transition: 0.5s;
}
.sub3_text1{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
.sub3_text2{
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: #009947;
}
.sub3_text3{
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: #858585;
}
.more_1{
    width: 190px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #9F9F9F;
    background-color: #DCDCDC;
    border-radius: 20px;
    line-height: 38px;
}