 /* 모바일 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
    .sub_1_con1{
        width: 80%;
        height: auto;
        display: flex;
        justify-content: space-between;
    }
    .sub_1_button{
        font-size: 13px;
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 10px;
        transform: translate(0, -90%);
        color: #858585;
    }

    .sub3_button{
        width: 100%;
        height: 30px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 30%);
        text-align: center;
        line-height: 30px;
        transform: translate(0, 40px);
        font-size: 12px;
        justify-content: center;
        white-space: nowrap;
    }

    .sub3_con{
        display: grid;
        justify-content: center;
        grid-template-columns: 90%;
        grid-template-rows: repeat(6, auto);
        margin-top: 80px;
        row-gap: 30px;
    }
    section{
        width: 100%;
    }
    .sub3_img1{
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}