/*-- 전 항목 공통--*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    color: #474747;
    background-color: #fff;
    justify-items: center;
}
a{
    color: #474747;
}
section{
    width: 90%;
    height: auto;
    margin: auto;
}

/*-- 메뉴바 --*/
header{
    width: 98%;
    height: 70px;
    box-shadow: 0px 2px 10px #00000029;
    border-radius: 10px;
    top: 8px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 3;
    background-color: #fff;
    transition: 0.3s;
}
.menu_cover{
    width: 80%;
    display: flex;
    justify-content: right;
    margin: auto;
}
.menu_cover_1{
    width: 80%;
    display: flex;
    justify-content: right;
    margin: auto;
}
.menubox_1{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
    transition: 0.5s;
}
.menu_1{
    width: 130px;
    font-size: 16px;
    font-weight: 700;
    color: #474747;
    transition: 0.3s;
    text-align: center;
}
.menu_1:hover{
    color: #009947;
    transition: 0.3s;
}
.logo{
    width: 168px;
    height: 36px;
    margin-top: 20px;
    position: absolute;
    left: 5%;
}
.mobile_menu{
    display: none;
}
.loginbox{
    width: 128px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}
.login{
    font-size: 12px;
    font-weight: 400;
    color: #474747;
    line-height: 20px;
}
.menu_conbox{
    width: 98%;
    height: 0px;
    box-shadow: 0px 2px 10px #00000029;
    border-radius: 10px;
    top: 8px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
    background-color: #fff;
    transition: 0.3s;
    visibility: hidden;
}
header:hover ~ .menu_conbox{
    height: 350px;
    transition: 0.3s;
    visibility: visible;
}
.menu_conbox:hover{
    height: 350px;
    transition: 0.3s;
    visibility: visible;
}
.menubox_2{
    width: 70%;
    margin-top: 90px;
    opacity: 0;
    transition: 0.25s;
    display: flex;
    justify-content: space-between;
    transform: translate(0, -100%);
}
.menubox_2_1{
    width: 130px;
    height: auto;
    text-align: center;
}
header:hover ~ .menu_conbox > .menu_cover_1 > .menubox_2{
    opacity: 1;
    transform: translate(0, 0%);
}
.menu_conbox:hover > .menu_cover_1 > .menubox_2{
    opacity: 1;
    transform: translate(0, 0%);
}
.menu_2{
    color: #858585;
    font-size: 13px;
    line-height: 40px;
    font-weight: 600;
    transition: 0.3s;
}
.menu_2:hover{
    color: #009947;
    transition: 0.3s;
}
.mobile_menubox{
    width: 100%;
    height: 0px;
    background-color: #ebebeb;
    position: absolute;
    visibility: hidden;
    text-align: center;
    position: fixed;
    top: 49px;
    line-height: 38px;
    transition: 0.1s;
    z-index: 2;
}
.menu_3{
    font-size: 14px;
    color: #7e7e7e;
    font-weight: 500;
}
.menu_3:hover{
    color: #009947;
}

/*-- 푸터 --*/
footer{
    width: 100%;
    height: auto;
    background-color: #EEEEEE;
    font-size: 12px;
    font-weight: 400;
    color: #B8B8B8;
    margin-top: 100px;
}
.foottext_1{
    width: 28%;
    height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
.foottext_2{
    height: 73px;
    display: flex;
    align-items: center;
    border-top: solid 1px #d4d4d4 ;
}
.foottext_2{
    display: grid;
    grid-template-columns: 662px 250px 110px;
    justify-content: space-between;
}
.f_text{
    color: #B8B8B8;
}
.icon{
    display: flex;
    justify-content: space-between;
}
.icon_1{
    filter: brightness(70%);
    transition: 0.3s;
}
.icon_1:hover{
    filter: brightness(100%);
}