/* 테블릿 가로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
    .sub_1_con1{
        width: 90%;
        height: auto;
        display: flex;
        justify-content: space-between;
    }
    .sub_1_button{
        font-size: 16px;
        font-weight: 700;
        margin-top: 40px;
        margin-bottom: 30px;
        color: #858585;
    }
    .sub5_text3{
        font-size: 20px;
        line-height: 123px;
    }
    .sub5_text4{
        font-size: 60px;
    }
    .sub5_con1_2{
        width: 215px;
    }
    .sub5_con1_3{
        width: 277px;
    }

    .sub5_con2_1{
        width: 92%;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .sub5_con2_2{
        width: 90%;
        height: auto;
        margin: 0 auto;
        margin-top: 57px;
        display: flex;
        justify-content: space-between;
    }
    .sub5_con2_3{
        width: 45%;
    }
    .sub5_con2_4{
        width: 45%;
        padding: 0px;
    }
    .sub5_text7{
        font-size: 12px;
        transform: translate(0px, -15px);
    }
    .sub5_con2{
        height: 908px;
    }
    .sub5_text6{
        width: 242px;
        height: 36px;
        font-size: 18px;
        line-height: 38px;
        transform: translate(0px, -24px);
    }

    .sub5_con4{
        width: 90%;
        display: grid;
        grid-template-columns: 201px 201px 201px;
        grid-template-rows: 311px 311px;
        justify-content: space-between;
        margin: 0 auto;
        color: #fff;
        margin-top: 75px;
    }
    .sub5_tri{
        display: none;
    }
    .sub5_con3{
        height: 1100px;
    }
}